#
# gitconfig
#

[user]
    email  = newmaneric5@gmail.com
    name   = Eric Newman
    editor = vim

[color]
    diff        = true
    status      = true
    branch      = true
    interactive = true
    ui          = true
    pager       = true

[core]
    excludesFile = /Users/Admin/.gitignore
	editor = /usr/local/bin/vim

[alias]
    # basic command shortcuts
    st  = status
    co  = checkout
    br  = branch
    fp  = format-patch
    rmt = remote

    # add shortcuts
    a  = add
    ap = add --patch
    ai = add --interactive

    # commit shortcuts
    ci = commit
    cm = commit -m
    ca = commit --amend

    # diff shortcuts
    d   = diff --patience
    dw  = diff --patience --ignore-all-space
    dc  = diff --patience --cached
    dcw = diff --patience --cached --ignore-all-space
    d1  = diff --patience HEAD~1
    d2  = diff --patience HEAD~2
    d3  = diff --patience HEAD~3

    # reset shortcuts
    rss = reset --soft
    rsm = reset --mixed
    rsh = reset --hard

    # rebase shortcuts
    rb  = rebase
    rba = rebase --abort
    rbc = rebase --continue
    rbi = rebase --interactive
    plr  = pull --rebase
    pl  = pull

    # log shortcuts
    lgo  = log --graph --oneline --decorate
    lgp  = log --patch
    lgs  = log --stat
    tree = log --oneline --decorate --graph --all

    #push shortcuts
    p  = push
    pf = push --force-with-lease

